<div class="two-grids">
    <div class="grid">
        <div class="row">
            <div class="col-1">
                Angular
            </div>
            <div class="col">
                <div class="skill-bar">
                    <div class="skill-fill" style="width: 70%;">70%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <div class="col-3">
                <img src="assets/Angular_logo.jpg" class="about-photo">
            </div>
        </div>
    </div>
</div>
